/* Custom CSS for styling */

/* Main image */
.hero {
    background-image: url(images/cherry-blossom1.JPG);
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

h1 {
    font-size: 4rem;
}

/* Div on top of image that contains header and caption text */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, .1);*/
}

/* To make the header and caption stand out from the hero image*/
.contrast-overlay {
    background-color: rgba(0, 0, 0, .6);
}

body {
    background-color: whitesmoke;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Don't forget media queries starting with hero image https://youtu.be/W87XNjvXiWw?si=y6wQXwiq8vla04F8 */
  
